@use "root";

.clearfix {
  clear: both;
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

@each $size in root.$grid-sizes {
  @for $i from 1 through $size {
    .grid-#{$size} {
      > .col-#{$i}, > [class^="row-"] > .col-#{$i} {
        width: 100% / $size * $i;
      }
    }
  }
}
