@use "sass:list";
@use "reset";

// Custom number of columns here

$grid-sizes: 4, 8, 12, 16;

// Custom row heights here
// Syntax:
//   prefix: (base, (factors...))
//     -> .row-prefix-factor

$row-heights: (
  "vh": (25vh,  (1 2 3 4)),
  "pr": (25%,   (1 2 3 4)),
  "rm": (5rem,  (1 2 3 4 5 6))
);

@each $size in $grid-sizes {
  .grid-#{$size} .col {
    width: (100%/$size);
    height: 100%;
    float: left;
  }
}

@each $msr, $vls in $row-heights {
  $mlt_by: list.nth($vls, 1);
  @each $sz in list.nth($vls, 2) {
    .row-#{$msr}-#{$sz} {
      height: $mlt_by * $sz;
    }
  }
}
